---
title: News
description: Read the latest news about our CNF's!
image:
custom_js:
- secondary
redirect_to: https://pantheon.tech/blog-news/
---

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable"><center><br>News at CDNF.io</center></h2>
				<p class="editable"><center>Read the latest news about our CNF's!</center></p>
				<hr/>
			</div>
		</div>
	</section>

<section>
	<div class="text-container">
		<ul class="blog-posts">
			{% include list-posts.html posts=paginator.posts %}
		</ul>

		{% if paginator.total_pages > 1 %}
			<div class="pagination">
				{% if paginator.previous_page %}
					<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
				{% endif %}

				<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

				{% if paginator.next_page %}
					<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
				{% endif %}
			</div>
		{% endif %}
	</div>
</section>
